
<app-footer-list name="PRODUCT" [elements]="['Proposals', 'Contracts', 'Invoicing', 'Client CRM', 'Time Tracking', 'Task Tracking', 'Forms', 'Accounting', 'Bonsai Tax', 'Bonsai Cash', null, '*Pricing', 'Bonsai Reviews']"></app-footer-list>

<div>
  <app-footer-list name="FREE RESOURCES" [elements]="['Freelance Resources', 'Freelance Blog by Bonsai', 'How to Write a Cotnract', 'Online Signature Marker', null, 'Self-Employed Taxes Hub', 'Self-Employed Tax Calculator', 'Self-Employed Tax Deductions']"></app-footer-list>
  <app-footer-list name="Templates" [elements]="['Invoice Templates', 'Proposal Templates', ['Website Proposal Template', 'Digital Marketing Proposal Template', 'Social Media Marketing Proposal', 'Graphic Design Proposal', 'Freelance Proposal Template', 'SEO Proposal Template'], 'Contract Templates', 'Agreement Templates', 'Scope of Work Templates' , 'Quote Templates', 'Credit Note Templates', 'Estimate Templates', 'Form Templates']"></app-footer-list>
</div>

<app-footer-list name="Bonsai" [elements]="['About', 'Careers', 'Support', 'Linkedin', 'Twitter', 'Privacy policy', 'Legal', null, 'Affiliates', 'Write for Us', null, 'Comparisions']"></app-footer-list>