<h1>Don't just take it from us.</h1>

<div class="page">

    <div class="container">

        <div class="holder">
    
            <div id="one" class="photo"></div>
    
            <img class="args" src="./assets/icon/args.svg">
    
        </div>
    
        <div class="about">
            <p>"Anyone doing #freelance work should use &commat;bonsaiinc for contracts/payment. It's amazing and saves boatloads of time."</p>
            <span class="name">Nathanael Smith</span>
            <span class="role">Product Design</span>
        </div>
    
    </div>
    
    <div class="container">
    
        <div class="holder">
    
            <div id="two" class="photo"></div>
    
            <img class="args" src="./assets/icon/args.svg">
    
        </div>
    
        <div class="about">
            <p>"Wow, &commat;bonsaiinc's contracts are completely wonderful. If you freelance you have to check it out. Really lovely experience. h/t &commat;hemeon"</p>
            <span class="name">Jon Gold</span>
            <span class="role">Designer and engineer</span>
        </div>
    
    </div>

</div>

<!--

    <div class="page hidden">
    
        <div class="container">
    
            <div class="holder">
        
                <div id="trhee" class="photo"></div>
        
                <img class="args" src="./assets/icon/args.svg">
        
            </div>
        
            <div class="about">
                <p>"For all my Freelancer / Small Agency followers, I wish I’d discovered &commat;bonsaiinc long ago - great templated contract"</p>
                <span class="name">David Mihm</span>
                <span class="role">Founder of TidingsCo</span>
            </div>
        
        </div>
        
        <div class="container">
        
            <div class="holder">
        
                <div id="forth" class="photo"></div>
        
                <img class="args" src="./assets/icon/args.svg">
        
            </div>
        
            <div class="about">
                <p>"&commat;bonsaiinc is probably my all time favorite freelance tool. hands down. the team is super responsive and accessible when i have questions."</p>
                <span class="name">David Urbinati</span>
                <span class="role">Motion design / animation</span>
            </div>
        
        </div>

-->

<div #controll class="controll">

    <div (click)="setActive(0)" class="button button--active"></div>
    <div (click)="setActive(1)" class="button"></div>

</div>