<h1>Don't just take it from us.</h1>

<!--PROBALLY A BETTER SOLUTION-->
<div class="holder">

    <div #page1 class="page">

        <app-social-card id="one"
            path="/assets/imgs/social_one.jpg"
            bio="Anyone doing #freelance work should use &commat;bonsaiinc for contracts/payment. It's amazing and saves boatloads of time."
            name="Nathanael Smith"
            role="Product Design"
        ></app-social-card>
    
        <app-social-card id="two"
            path="/assets/imgs/social_two.jpg"
            bio="Wow, &commat;bonsaiinc's contracts are completely wonderful. If you freelance you have to check it out. Really lovely experience. h/t &commat;hemeon"
            name="Jon Gold"
            role="Designer and engineer"
        ></app-social-card>
    
    </div>
    
    <div #page2 class="page hidden">
    
        <app-social-card id="trhee"
            path="/assets/imgs/social_trhee.jpg"
            bio="For all my Freelancer / Small Agency followers, I wish I’d discovered &commat;bonsaiinc long ago - great templated contract"
            name="David Mihm"
            role="Founder of TidingsCo"
        ></app-social-card>
    
        <app-social-card id="forth"
            path="/assets/imgs/social_forth.jpg"
            bio="&commat;bonsaiinc is probably my all time favorite freelance tool. hands down. the team is super responsive and accessible when i have questions."
            name="David Urbinati"
            role="Motion design / animation"
        ></app-social-card>
    
    </div>

</div>

<div #controll class="controll">

    <div (click)="setActive(0)" class="button button--active"></div>
    <div (click)="setActive(1)" class="button"></div>

</div>