@media screen and (min-width: 400px) and (max-width: 1200px){
    
    :host{

        width: 70dvw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    
    }

}

@media screen and (min-width: 1200px) {
    
    :host{

        width: 85dvw;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    
    }

}