<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <app-nav-bar></app-nav-bar>

  <app-plan-selector></app-plan-selector>

  <div class="card_holder">

    <app-card 
      title="Starter"
      description="Ideal for freelancers and contractors just starting out."
      [price]=24
      [benefits]="['All Templates', 'Unlimited Client & Projects', 'Invoicing & Payment', 'Proposal & Contracts', 'Task & Time Tracking', 'Client CRM', 'Expense Tracking', 'Up to 5 Project Collaborators']">
    </app-card>

    <app-card 
      title="Professional"
      description="Everything a growing independent business needs to thrive."
      [price]=39 
      [benefits]="['Everything in Start plus...', 'Custom Branding', 'Forms & Questionnaires', 'Client Portal', 'QuickBooks Integration', 'Calendly Integration', 'Zapier Integration', 'Up to 15 Project Collaborators']">
    </app-card>

    <app-card 
      title="Business"
      description="The perfect package for small businesses and agencies."
      [price]=79 
      [benefits]="['Everything in Professional plus...', 'Subcontractor Management', 'Hiring Agreement Templates (1099 contracts)', 'Subcontractor Onboarding', 'Talent Pool', '3 Team Seats (additional seats $9/month)', 'Accountant Access', 'Connect Multiple Bank Accounts', 'Unlimited Subcontractors', 'Unlimited Project Collaborators']">
    </app-card>

  </div>

  <div class="addons_break">
    <span>Super charge your work with add-ons</span>
  </div>

</body>
</html>