.container{

    width: 100dvw;
    height: 2em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3em 0;

}

.logo{
    height: 90%;
}

.container button{

    padding: 10px 25px;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: unset;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 7px;
    margin: 0 10px;

}

.container button:hover{

    background-color: var(--green);
    color: white;

}

.menus span{

    margin: 0 20px;
    cursor: pointer;
    color: var(--gray);

}