@media screen and (min-width: 400px) and (max-width: 1200px){
    
    :host{

        width: 80dvw;
        height: 3em;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3em 0;
        margin: 0 auto;

        transition: height ease .3s;

        position: sticky;
        top: 0;
    
    }

}

@media screen and (min-width: 1200px) {
    
    :host{

        width: 80dvw;
        height: 2em;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3em 0;
        margin: 0 auto;

        position: sticky;
        top: 0;
        transition: height ease .3s;
    
    }

}

.logo{
    height: 90%;
}

.menus span{

    margin: 0 20px;
    cursor: pointer;
    color: var(--gray);

}

.holder{
    display: flex;
}

#start{
    width: 140px;
    height: 40px;
}

#login{

    width: 100px;
    height: 40px;
    margin-right: 20px;

}

.menu_toogler{

    height: 120%;
    aspect-ratio: 1 / 1;

}