<img class="logo" logo src="./assets/icon/logo.svg">

@if (breakPoint) {

    <div class="menus">

        <span>Product</span>
        <span>Templates</span>
        <span>Pricing</span>
        <span>Reviews</span>
    
    </div>
    
    <div class="holder">
        <div id="login">
            <app-buttom text="LOG IN"></app-buttom>
        </div>
        <div id="start">
            <app-buttom [isActive]=true text="START FREE"></app-buttom>
        </div>
    </div>

} @else {

    <div class="menu_toogler">

        <img src="/assets/icon/menu.svg">

    </div>

}