<ul>

    <app-item (emitter)="receiveData($event)" [ref]=0 text="Proposals"             link="./assets/icon/proposals.svg"    ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=1 text="Contracts"             link="./assets/icon/contracts.svg"    ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=2 text="Client CRM"            link="./assets/icon/clientCRM.svg"    ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=3 text="Time Tracking"         link="./assets/icon/timeTracking.svg" ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=4 text="Invoices"              link="./assets/icon/invoices.svg"     ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=5 text="Task Tracking"         link="./assets/icon/taskTracking.svg" ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=6 text="Accounting & Taxes"    link="./assets/icon/accounting.svg"   ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=7 text="Forms"                 link="./assets/icon/forms.svg"        ></app-item>

</ul>

<div class="container">

    <div class="holder">
        <h1>Win More Work</h1>
        <p>With just a few clicks, you can craft structured proposals with clear estimates to close your deals faster.</p>
        <a>EXPLORE PROPOSALS</a>
    </div>

    <img src="./assets/imgs/proposals.png">

</div>