<ul>

    <app-item (emitter)="receiveData($event)" [ref]=0 text="Proposals"             link="./assets/icon/proposals.svg"    ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=1 text="Contracts"             link="./assets/icon/contracts.svg"    ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=2 text="Client CRM"            link="./assets/icon/clientCRM.svg"    ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=3 text="Time Tracking"         link="./assets/icon/timeTracking.svg" ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=4 text="Invoices"              link="./assets/icon/invoices.svg"     ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=5 text="Task Tracking"         link="./assets/icon/taskTracking.svg" ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=6 text="Accounting & Taxes"    link="./assets/icon/accounting.svg"   ></app-item>
    <app-item (emitter)="receiveData($event)" [ref]=7 text="Forms"                 link="./assets/icon/forms.svg"        ></app-item>

</ul>

<!--NOT SURE IF IS A GOOD WAY TO IMPLEMENT THIS-->
@switch (activeChild) {

    @case (0) {
        <app-item-card
            title="Win More Work"
            desc="With just a few clicks, you can craft structured proposals with clear estimates to close your deals faster."
            button="EXPLORE PROPOSALS"
            path="./assets/imgs/proposals.png"
        ></app-item-card>
    }
    @case (1) {
        <app-item-card
            title="Protect Your Business"
            desc="Simply answer a few questions to generate an already vetted contract template. Once you hit send, the contract can be e-signed in minutes."
            button="EXPLORE CONTRACTS"
            path="./assets/imgs/contracts.png"
        ></app-item-card>
    }
    @case (2) {
        <app-item-card
            title="Stay Organized"
            desc="Manage your clients and ongoing projects all in one place. Organize all the documents, files and payments together for you and your client."
            button="EXPLORE PROJECTS"
            path="./assets/imgs/clientCRM.png"
        ></app-item-card>
    }
    @case (3) {
        <app-item-card
            title="Keep It Simple"
            desc="Easily track the time you're working, automatically populate timesheets and seamlessly switch between your projects for the day."
            button="EXPLORE TIME TRACKING"
            path="./assets/imgs/timeTracking.png"
        ></app-item-card>
    }
    @case (4) {
        <app-item-card
            title="Get Paid Faster"
            desc="Create and customize invoices, receive updates about payment timelines, and have automatic payment reminders sent on your behalf."
            button="EXPLORE INVOICES"
            path="./assets/imgs/invoices.png"
        ></app-item-card>
    }
    @case (5) {
        <app-item-card
            title="Be More Effective"
            desc="Give your day more structure with simple task management on your projects. Track time for each task and stay up-to-date."
            button="EXPLORE TASKS"
            path="./assets/imgs/tasks.png"
        ></app-item-card>
    }
    @case (6) {
        <app-item-card
            title="Automate Your Finances"
            desc="Don't worry about freelance finances when you have automatic expense tracking, income reporting and estimated tax planning."
            button="EXPLORE ACCOUNTING & TAXES"
            path="./assets/imgs/accounting.png"
        ></app-item-card>
    }
    @case (7) {
        <app-item-card
            title="Ask Your Clients"
            desc="Create your own customized forms and questionnaires for clients and kicking off new projects."
            button="EXPLORE FORMS"
            path="./assets/imgs/forms.png"
        ></app-item-card>
    }

}