<h1>Trusted by 500K+ self-employed workers and small businesses</h1>
<p>Whether you’re just getting started or your business is booming, Bonsai has you covered.</p>

<div class="container">
    <div class="holder">
        <img src="/assets/icon/left.svg">
        <h2>Built for All Work Types</h2>
        <p>We proudly back people with wide-ranging businesses—from design and marketing to development, writing, and photography.</p>
    </div>
    
    <div class="holder">
        <img src="/assets/icon/right.svg">
        <h2>Built for Global Businesses</h2>
        <p>Bonsai has international coverage across the United States, Canada, UK, Australia and more, with 180 currencies supported.</p>
    </div>
</div>